// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-page-container {
    background: rgb(0,80,171);
    background: linear-gradient(180deg, rgba(0,80,171,1) 0%, rgba(55,120,194,1) 100%);
    width: 100vw;
    height: 100vh;
}
