<div class="main-container d-flex flex-column align-items-center justify-content-center">
    <h2 class="mb-5 green">New Expense</h2>
    <%= render 'form', expense: @expense, mode: 'my-expenses'%>
</div>